---
import EnergyTable from '~/components/EnergyTable.astro'
import Footer from '~/components/Footer.astro'
import LightSchedule from '~/components/LightSchedule.astro'
import Loader from '~/components/Loader.astro'
import SwitchControl from '~/components/SwitchControl.astro'
import Layout from '~/layouts/Layout.astro'
---

<Layout>
  <main class="flex-auto">
    <section class="body-font text-zinc-800 dark:text-zinc-100">
      <div class="container mx-auto px-4 py-16">
        <div class="mx-auto flex max-w-2xl flex-col lg:max-w-6xl">
          <header class="max-w-2xl">
            <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">Precio de la luz 💡</h1>

            <p class="text-base text-zinc-600 dark:text-zinc-400">
              Conoce el precio de la luz en tiempo real en España. Datos proporcionados por <a
                href="https://www.esios.ree.es/es"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-600 underline dark:text-blue-300">REE</a
              >.
            </p>
            <p class="text-base text-zinc-600 dark:text-zinc-400">
              Los precios se actualizan cada hora. Los precios mostrados son en €/kWh.
            </p>
          </header>

          <LightSchedule>
            <SwitchControl
              id="switch-control"
              label="Precio para mañana"
              description="Activa esta opción si quieres saber el precio de la electricidad para mañana."
              defaultHidden={true}
            />
          </LightSchedule>

          <div class="mt-4 flex h-[355px] items-center justify-center" id="chart">
            <Loader id="chart-loader" loaderSize={24} srText="Cargando gráfico de precios..." />
          </div>

          <EnergyTable tableId="table" headers={['Hora', 'Precio', 'Diferencia']} />
          <Footer />
        </div>
      </div>
    </section>
  </main>
</Layout>

<script>
  import type { REE } from '~/@types'
  import { generateURL, getPrices } from '~/helpers'
  import { generateChartConfig } from '~/helpers/chart-generator'
  import { generateTableConfig } from '~/helpers/table-generator'

  const $ = document.querySelector.bind(document)
  const CHART = $('#chart')
  const CHART_LOADER = $('#chart-loader')
  const TABLE = $('#table')
  const SWITCH = $('#switch-control')

  const apiUrl = generateURL()
  const data: REE | null = await fetch(apiUrl)
    .then((response) => response.json())
    .catch((error) => {
      console.error('Error fetching data', error)
      return null
    })

  if (data) {
    const { prices, tomorrowPrices } = getPrices(data)
    const hasTomorrowPrices = tomorrowPrices.length > 0

    if (hasTomorrowPrices && SWITCH) {
      SWITCH.removeAttribute('style')
    }

    const todayChartConfig = generateChartConfig(prices)
    const tomorrowChartConfig = hasTomorrowPrices ? generateChartConfig(tomorrowPrices) : {}

    const { default: ApexCharts } = await import('apexcharts')
    const chart = new ApexCharts(CHART, todayChartConfig)

    chart.render().then(() => {
      if (CHART_LOADER) {
        CHART_LOADER.remove()

        if (TABLE) {
          const tBody = generateTableConfig(prices, true)
          TABLE.innerHTML = tBody.innerHTML
        }
      }
    })

    // add event listener prefers-color-scheme and update chart
    // !! REFACTOR THIS CODE !!
    // should use updateOptions -> theme -> mode instead of creating a new chart
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
      const todayChartConfig = generateChartConfig(prices)
      const tomorrowChartConfig = hasTomorrowPrices ? generateChartConfig(tomorrowPrices) : {}
      const checked = SWITCH?.querySelector('input')?.checked

      if (checked && hasTomorrowPrices) {
        chart.updateOptions(tomorrowChartConfig)
      } else {
        chart.updateOptions(todayChartConfig)
      }
    })

    if (SWITCH) {
      SWITCH.addEventListener('change', (event) => {
        if (event.target instanceof HTMLInputElement && event.target.checked && hasTomorrowPrices) {
          chart.updateOptions(tomorrowChartConfig)
          chart.clearAnnotations()

          if (TABLE) {
            const tBody = generateTableConfig(tomorrowPrices, false)
            TABLE.innerHTML = tBody.innerHTML
          }
        } else {
          chart.updateOptions(todayChartConfig)

          if (TABLE) {
            const tBody = generateTableConfig(prices, true)
            TABLE.innerHTML = tBody.innerHTML
          }
        }
      })
    }
  }
</script>
