---
import LightSchedule from '@/components/LightSchedule.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <main class="flex-auto">
    <section class="text-zinc-800 dark:text-zinc-100 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col mx-auto max-w-2xl lg:max-w-6xl">
          <header class="max-w-2xl">
            <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">Precio de la energía 💡</h1>

            <p class="text-base text-zinc-600 dark:text-zinc-400">
              Conoce el precio de la energía en tiempo real en España. Datos proporcionados por <a
                href="https://www.esios.ree.es/es"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-300 underline">REE</a
              >.
            </p>
            <p class="text-base text-zinc-600 dark:text-zinc-400">
              Los precios se actualizan cada hora. Los precios mostrados son en €/kWh.
            </p>
          </header>

          <LightSchedule>
            <div class="inline-flex gap-2 flew-row sm:flex-col max-w-md self-center">
              <div class="relative inline-block w-11 h-5">
                <input
                  id="switch"
                  type="checkbox"
                  class="peer appearance-none w-11 h-5 bg-zinc-500 rounded-full checked:bg-yellow-500 cursor-pointer transition-colors duration-300 disabled:bg-zinc-50 disabled:border-zinc-50 disabled:opacity-30"
                />
                <label
                  for="switch"
                  class="absolute top-0 left-0 w-5 h-5 bg-white rounded-full border border-slate-300 shadow-sm transition-transform duration-300 peer-checked:translate-x-6 peer-checked:border-yellow-400 cursor-pointer"
                >
                </label>
              </div>

              <label for="switch" class="text-zinc-300 text-sm cursor-pointer">
                <div>
                  <p class="font-medium">Precio para mañana</p>
                  <p class="text-zinc-500">
                    Si quieres saber el precio de la electricidad para mañana, activa esta opción cuando esté
                    disponible.
                  </p>
                </div>
              </label>
            </div>
          </LightSchedule>

          <div class="mt-8 h-[355px] flex items-center justify-center" id="chart">
            <div role="status" id="chart-loader">
              <div
                class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible"
              >
                <svg
                  class="text-gray-700 animate-spin"
                  viewBox="0 0 64 64"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                >
                  <path
                    d="M32 3C35.8083 3 39.5794 3.75011 43.0978 5.20749C46.6163 6.66488 49.8132 8.80101 52.5061 11.4939C55.199 14.1868 57.3351 17.3837 58.7925 20.9022C60.2499 24.4206 61 28.1917 61 32C61 35.8083 60.2499 39.5794 58.7925 43.0978C57.3351 46.6163 55.199 49.8132 52.5061 52.5061C49.8132 55.199 46.6163 57.3351 43.0978 58.7925C39.5794 60.2499 35.8083 61 32 61C28.1917 61 24.4206 60.2499 20.9022 58.7925C17.3837 57.3351 14.1868 55.199 11.4939 52.5061C8.801 49.8132 6.66487 46.6163 5.20749 43.0978C3.7501 39.5794 3 35.8083 3 32C3 28.1917 3.75011 24.4206 5.2075 20.9022C6.66489 17.3837 8.80101 14.1868 11.4939 11.4939C14.1868 8.80099 17.3838 6.66487 20.9022 5.20749C24.4206 3.7501 28.1917 3 32 3L32 3Z"
                    stroke="currentColor"
                    stroke-width="5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M32 3C36.5778 3 41.0906 4.08374 45.1692 6.16256C49.2477 8.24138 52.7762 11.2562 55.466 14.9605C58.1558 18.6647 59.9304 22.9531 60.6448 27.4748C61.3591 31.9965 60.9928 36.6232 59.5759 40.9762"
                    stroke="currentColor"
                    stroke-width="5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="text-gray-300"
                  >
                  </path>
                </svg>
              </div>
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div class="relative flex flex-col w-full h-full text-gray-300 bg-clip-border">
            <div class="px-0 overflow-scroll">
              <table class="w-full text-left table-auto min-w-max">
                <thead class="font-sans text-sm antialiased font-normal">
                  <tr>
                    <th class="p-2">
                      <p class="block">Hora</p>
                    </th>
                    <th class="p-2">
                      <p class="block">Precio</p>
                    </th>
                    <th class="p-2">
                      <p class="block">Diferencia</p>
                    </th>
                  </tr>
                </thead>
                <tbody class="font-sans text-sm antialiased font-normal" id="table"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
