---
import LightSchedule from '@/components/LightSchedule.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <main class="flex-auto">
    <section class="text-zinc-800 dark:text-zinc-100 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col mx-auto max-w-2xl lg:max-w-6xl">
          <header class="max-w-2xl">
            <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">Precio de la energía 💡</h1>

            <p class="text-base text-zinc-600 dark:text-zinc-400">
              Conoce el precio de la energía en tiempo real en España. Datos proporcionados por <a
                href="https://www.esios.ree.es/es"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-300 underline">REE</a
              >.
            </p>
            <p class="text-base text-zinc-600 dark:text-zinc-400">
              Los precios se actualizan cada hora. Los precios mostrados son en €/kWh.
            </p>
          </header>

          <LightSchedule />
        </div>
      </div>
    </section>
  </main>
</Layout>
