---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <main class="flex-auto">
    <section class="text-zinc-800 dark:text-zinc-100 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col mx-auto max-w-2xl lg:max-w-6xl">
          <header class="max-w-2xl">
            <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">Welcome to Astro! 🚀</h1>

            <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat recusandae praesentium autem molestiae et
              ipsam perferendis magnam ipsum at reprehenderit cumque, ullam sequi nostrum, eligendi sint deleniti.
              Veritatis eveniet natus harum omnis tempore soluta, quas, suscipit excepturi deserunt earum facilis quia
              ut inventore similique. Quis saepe rerum quia voluptatem impedit.
            </p>
          </header>
        </div>
      </div>
    </section>
  </main>
</Layout>
