---
import type { SocialMedia } from '~/@types'
import SocialMediaFooter from './SocialMedia.astro'

const socialMedia: SocialMedia = {
  github: 'https://github.com/jesusvallez',
  linkedin: 'https://www.linkedin.com/in/jesusvallez',
}
---

<footer
  class="mx-auto flex w-full flex-col-reverse items-center justify-between gap-4 pt-12 text-base text-zinc-600 md:flex-row dark:text-zinc-400"
>
  <a
    class="md:text-md text-xs hover:text-white hover:underline focus:ring focus:outline-none active:text-white"
    target="_blank"
    rel="noopener noreferrer"
    href="https://github.com/jesusvallez/jesusvallez.github.io"
    title="Repositorio de este sitio web"
  >
    Creado con mucho{' '}
    <span data-testid="emoji" role="img" aria-label="corazón blanco">♥</span>{' '}
    por Jesús Vállez Gomis.
  </a>

  <SocialMediaFooter items={socialMedia} />
</footer>
