---
import type { SocialMedia } from '~/@types'
import SocialMediaFooter from './SocialMedia.astro'

const socialMedia: SocialMedia = {
  github: 'https://github.com/jesusvallez',
  linkedin: 'https://www.linkedin.com/in/jesusvallez',
}
---

<footer
  class="w-full mx-auto flex flex-col-reverse items-center justify-between gap-4 pt-12 md:flex-row text-base text-zinc-600 dark:text-zinc-400"
>
  <a
    class="text-xs hover:underline md:text-md hover:text-white focus:outline-none focus:ring active:text-white"
    target="_blank"
    rel="noopener noreferrer"
    href="https://github.com/jesusvallez/jesusvallez.github.io"
    title="Repositorio de este sitio web"
  >
    Creado con mucho{' '}
    <span data-testid="emoji" role="img" aria-label="corazón blanco">♥</span>{' '}
    por Jesús Vállez Gomis.
  </a>

  <SocialMediaFooter items={socialMedia} />
</footer>
