---
import '../styles/global.css'
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Precio de la luz - REE</title>
    <meta
      name="description"
      content="Consulta el precio de la luz en el mercado mayorista y su evolución en las últimas 24 horas. Información actualizada y detallada para consumidores y empresas."
    />
    <meta name="keywords" content="precio luz, mercado mayorista, evolución precios, REE" />
    <meta name="author" content="Jesús Vállez" />
    <meta property="og:title" content="Precio de la luz - REE" />
    <meta
      property="og:description"
      content="Consulta el precio de la luz en el mercado mayorista y su evolución en las últimas 24 horas. Información actualizada y detallada para consumidores y empresas."
    />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Precio de la luz - REE" />
    <meta
      name="twitter:description"
      content="Consulta el precio de la luz en el mercado mayorista y su evolución en las últimas 24 horas. Información actualizada y detallada para consumidores y empresas."
    />
  </head>
  <body class="flex bg-zinc-950 bg-[radial-gradient(ellipse_60%_60%_at_50%_-15%,rgba(100,100,0,0.4),rgba(0,0,0,0))]">
    <slot />
  </body>
</html>
